################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/.vs/NairaLedgerEngine.slnx
/backend/NairaLedger.Application/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/backend/NairaLedger.Application/obj/Debug/net10.0/NairaLedger.Application.AssemblyInfo.cs
/backend/NairaLedger.Application/obj/Debug/net10.0/NairaLedger.Application.AssemblyInfoInputs.cache
/backend/NairaLedger.Application/obj/Debug/net10.0/NairaLedger.Application.assets.cache
/backend/NairaLedger.Application/obj/Release/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/backend/NairaLedger.Application/obj/Release/net10.0/NairaLedger.Application.AssemblyInfo.cs
/backend/NairaLedger.Application/obj/Release/net10.0/NairaLedger.Application.AssemblyInfoInputs.cache
/backend/NairaLedger.Application/obj/Release/net10.0/NairaLedger.Application.assets.cache
/backend/NairaLedger.Application/obj/Release/net10.0/NairaLedger.Application.GeneratedMSBuildEditorConfig.editorconfig
/backend/NairaLedger.Application/obj/Release/net10.0/NairaLedger.Application.GlobalUsings.g.cs
/backend/NairaLedger.Infrastructure/obj/Debug/net10.0/NairaLedger.Infrastructure.AssemblyInfo.cs
/backend/NairaLedger.Infrastructure/obj/Debug/net10.0/NairaLedger.Infrastructure.AssemblyInfoInputs.cache
/backend/NairaLedger.Infrastructure/obj/Debug/net10.0/NairaLedger.Infrastructure.AssemblyInfoInputs.cache
/backend/NairaLedger.Infrastructure/obj/Debug/net10.0/NairaLedger.Infrastructure.AssemblyInfo.cs
/backend/NairaLedger.Domain/obj/Debug/net10.0/NairaLedger.Domain.AssemblyInfo.cs
/backend/NairaLedger.Domain/obj/Debug/net10.0/NairaLedger.Domain.AssemblyInfo.cs
/backend/NairaLedger.Domain/obj/Debug/net10.0/NairaLedger.Domain.AssemblyInfoInputs.cache
/backend/NairaLedger.Tests/obj/Debug/net10.0/NairaLedger.Tests.AssemblyInfo.cs
/backend/NairaLedger.Tests/obj/Debug/net10.0/NairaLedger.Tests.AssemblyInfoInputs.cache
/backend/NairaLedger.Tests/obj/Debug/net10.0/NairaLedger.Tests.csproj.AssemblyReference.cache
/backend/NairaLedger.Tests/obj/Release/net10.0/NairaLedger.Tests.AssemblyInfo.cs
/backend/NairaLedger.Tests/obj/Release/net10.0/NairaLedger.Tests.AssemblyInfoInputs.cache
/backend/NairaLedger.WebApi/obj/Debug/net10.0/NairaLedger.WebApi.AssemblyInfo.cs
/backend/NairaLedger.WebApi/obj/Debug/net10.0/NairaLedger.WebApi.AssemblyInfoInputs.cache
/backend/NairaLedger.Domain/Class1.cs
/.gitignore
